body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa; /* Fundo azul claro */
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 60%; /* Aumentar a largura da barra de pesquisa */
}

.search-input {
    width: 100%;
    padding: 15px; /* Aumentar o padding para uma barra mais robusta */
    border: 1px solid #ccc;
    border-radius: 25px; /* Bordas arredondadas */
    font-size: 16px; /* Aumentar o tamanho da fonte */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adicionar sombra */
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.book-grid {
    display: flex;
    flex-wrap: wrap; /* Permitir quebra de linha */
    justify-content: center; /* Centralizar os itens */
    gap: 20px; /* Espaçamento entre os itens */
    padding: 20px 0;
}

.book {
    flex: 0 0 150px; /* Largura fixa para os livros */
    text-align: center;
}

.book img {
    width: 50px;
    height: 200px;
    object-fit: cover;
}

.book p {
    margin-top: 10px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.footer-btn {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.footer-btn:hover {
    background-color: #0056b3;
}
